* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: #f0f0f0;
  font-family: "Open Sans", sans-serif;
  max-width: 50rem;
  min-width: 20rem;
  margin: 0 auto;
  width: 50%;
}
.banner {
  background-color: #ffffff;
  box-shadow: 1px 1px 1px rgb(0, 0, 0, 0.2);
  display: flex;
  height: 7rem;
  width: 45%;
}
button {
  background-color: #21364e;
  border-radius: 0.8rem;
  border: 2px solid #f0f0f0;
  color: #ffffff;
  font-size: 0.7rem;
  height: 2rem;
  text-transform: uppercase;
  width: 5rem;
}
.colorLogo {
  align-items: center;
  background-color: rgb(255, 0, 0);
  background: linear-gradient(
    90deg,
    rgb(250, 166, 166, 1) 0%,
    rgb(255, 0, 0, 1) 100%
  );
  display: flex;
  height: 100%;
  justify-content: center;
  width: 9rem;
}
.colorLogo1 {
  align-items: center;
  background-color: #53ceff;
  background: linear-gradient(
    90deg,
    rgb(181, 234, 255, 1) 0%,
    rgb(83, 206, 255, 1) 100%
  );
  display: flex;
  height: 100%;
  justify-content: center;
  width: 9rem;
}
.colorLogo2 {
  align-items: center;
  background-color: #6bcf91;
  background: linear-gradient(
    90deg,
    rgb(161, 204, 177, 1) 0%,
    rgb(107, 207, 145, 1) 100%
  );
  display: flex;
  height: 100%;
  justify-content: center;
  width: 9rem;
}
.colorLogo3 {
  align-items: center;
  background-color: #aae7ff;
  background: linear-gradient(
    90deg,
    rgb(230, 248, 255, 1) 0%,
    rgb(170, 231, 255, 1) 100%
  );
  display: flex;
  height: 100%;
  justify-content: center;
  width: 9rem;
}
i::before {
  color: #ffffff;
}
input {
  background-color: #faf6f6;
  border-radius: 0.8rem;
  border: 2px solid #f0f0f0;
  font-size: 0.7rem;
  height: 2rem;
  padding-left: 0.5rem;
  width: 9rem;
}
.background {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}
.middle .notice:not(:last-child) {
  margin-bottom: 2rem;
}
.middle .notice time {
  display: block;
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.8rem;
}
.middle .notice .meta {
  padding: 0.5rem 0;
}
.middle .notice .meta author {
  color: rgb(179, 71, 206);
  font-size: 0.9rem;
}
.middle .notice .meta .timeago {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
.middle .notice .text {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.9rem;
}
.noticeBoard,
.expenses {
  align-items: center;
  display: flex;
  background-color: #ffffff;
  border-bottom: 2px solid #f0f0f0;
  box-shadow: 1px 1px 1px rgb(0, 0, 0, 0.2);
  height: 4rem;
  justify-content: space-between;
  padding-left: 2rem;
  width: 95%;
}
.noticeBoardContent {
  background-color: #ffffff;
  box-shadow: 1px 1px 1px rgb(0, 0, 0, 0.2);
  margin-bottom: 1rem;
  padding: 2rem;
  width: 95%;
}
.expensesContent {
  background-color: #ffffff;
  box-shadow: 1px 1px 1px rgb(0, 0, 0, 0.2);
  margin-bottom: 1rem;
  width: 95%;
}
.searchfield {
  display: flex;
  justify-content: space-around;
  padding-right: 3rem;
  width: 60%;
}
.toptext {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}
.text > h1 {
  margin: 1rem 0;
}
.top {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 18rem;
  justify-content: space-around;
  width: 100%;
}
.expensesContent table {
  border-collapse: collapse;
  width: 100%;
}
.expensesContent table thead th {
  border-bottom: 2px solid #f0f0f0;
  text-align: left;
}
table th,
table td {
  padding: 0.5rem;
}
table th:first-child,
table td:first-child {
  padding-left: 2rem;
}
table th:last-child,
table td:last-child {
  padding-left: 2rem;
}
.expensesContent table tbody {
  font-size: 0.9rem;
}
.expensesContent table tbody tr:nth-child(even) {
  background-color: #fafafa;
}
.tag {
  color: #ffffff;
  background-color: #ff0000;
  padding: 0.2rem 0.9rem;
  border-radius: 1rem;
}
.tag.success {
  background-color: rgb(6, 144, 0);
  background: linear-gradient(
    90deg,
    rgba(6, 144, 0, 1) 0%,
    rgba(0, 219, 9, 1) 100%
  );
}
.tag.error {
  background-color: rgb(199, 25, 1);
  background: linear-gradient(
    90deg,
    rgba(199, 25, 1, 1) 0%,
    rgba(242, 106, 29, 1) 100%
  );
}
@media (max-width: 480px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .banner {
    width: 80%;
  }
  .background {
    width: 85%;
  }
  .expenses {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 8rem;
    justify-content: space-around;
  }
  .top {
    height: 36rem;
  }
  .noticeBoardContent,
  .expensesContent {
    height: 30rem;
  }
  .searchfield {
    width: 90%;
    padding: 0;
  }
}
